.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacerM {
  height: 75px;
}
.spacerXS {
  height: 25px;
}

.cover {
  height: calc(100vh - 180px);
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(2, 2, 2, 0.842)
    ),
    url("/kitchen2.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.coverTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 40%;
  padding: 20px;
}
.coverTextContainer h1 {
  color: white;
  font-size: 42px;
  text-align: center;
}

.workLink {
  color: white;
  background-color: rgb(170, 16, 0);
  padding: 15px 25px;
  font-size: 18px;
  margin-top: 10px;
}
.workLink:hover {
  background-color: rgb(98, 10, 0);
}

.boardStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.boardStyles h2 {
  color: rgb(90, 90, 90);
  font-size: 30px;
}

.whatWeDoContainer {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.whatWeDoText {
  width: 40%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.whatWeDoText h3 {
  font-size: 36px;
}
.whatWeDoText p {
  font-size: 18px;
  line-height: 30px;
  color: gray;
  letter-spacing: 1px;
}

.whatWeDoLinkContainer {
  margin-top: 15px;
}
.whatWeDoLink {
  background-color: rgb(170, 16, 0);
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.whatWeDoLink:hover {
  background-color: rgb(98, 10, 0);
}

.whatWeDoImage {
  width: 60%;
}

.gridItemImage {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.partnerGridContainer {
  width: 100%;
}

.partnerGrid {
  display: grid;
  justify-content: space-between;
  gap: 50px;
  grid-template-columns: auto auto auto auto auto;
}
.partnerGridItem {
  position: relative;
  width: 200px;
  height: 100px;
}

.contactContainer {
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactContent p {
  color: gray;
}

/* Responsive design ------------------- */

/* Tablet */
@media only screen and (max-width: 1200px) {
  .whatWeDoContainer {
    flex-direction: column-reverse;
  }
  .reverseColTablet {
    flex-direction: column;
  }
  .whatWeDoText {
    width: 100%;
    text-align: center;
  }
  .whatWeDoImage {
    width: 100%;
  }
  .whatWeDoLinkContainer {
    display: flex;
    justify-content: center;
  }
  .partnerGrid {
    grid-template-columns: auto auto auto;
  }
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .coverTextContainer {
    height: 50%;
  }
  .partnerGrid {
    grid-template-columns: auto auto;
  }
  .partnerGridItem {
    width: 150px;
    justify-content: space-around;
  }
}
